2016_11_09/workspace/160819_f100/
2016_11_09/workspace/160819_f100_dna/
2016_11_09/workspace/160826_m1/
2016_11_09/workspace/160826_m1_dna/
2016_11_09/workspace/160831_m1r/
2016_11_09/workspace/160831_m1r_dna/
2016_11_09/workspace/160902_x1/
2016_11_09/workspace/160902_x1_dna/
2016_11_09/workspace/160906_x100/
2016_11_09/workspace/160906_x100_dna/
SORTCERY_spec_dna/workspace/07_runUSearch.sh
SORTCERY_spec_dna/workspace/BCL-xl_1nM/
SORTCERY_spec_dna/workspace/BCL-xl_1nM_dna/
SORTCERY_spec_dna/workspace/BFL1_100nM/
SORTCERY_spec_dna/workspace/BFL1_100nM_dna/
SORTCERY_spec_dna/workspace/Bcl-xl_100nM/
SORTCERY_spec_dna/workspace/Bcl-xl_100nM_dna/
SORTCERY_spec_dna/workspace/Bfl1_1nM/
SORTCERY_spec_dna/workspace/Bfl1_1nM_dna/
SORTCERY_spec_dna/workspace/Mcl1_100nM/
SORTCERY_spec_dna/workspace/Mcl1_100nM_dna/
SORTCERY_spec_dna/workspace/Mcl1_1nM/
SORTCERY_spec_dna/workspace/Mcl1_1nM_dna/
SORTCERY_spec_dna/workspace/Naive_Pool/
SORTCERY_spec_dna/workspace/Naive_Pool_dna/
bfl1/workspace/bfl1_sortcery_contam/
bfl1/workspace/bfl1_sortcery_contam_dna/
bfl1/workspace/bfl1_sortcery_lowreads/
bfl1/workspace/bfl1_sortcery_lowreads_dna/
